<template>
    <div>
        <Navbar/>
        <div id="content">
            <router-view/>
        </div>
    </div>
</template>
<style>
    #content {
        background-color: #fff;
    }
</style>
<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import Navbar from '@/components/Navbar.vue';


  @Component({components: {Navbar}})
  class AppVue extends Vue {
  }

  export default AppVue;
</script>
