<template>
    <div class="container">
        <ImageUpload/>
    </div>
</template>
<style>
    .progress {
        margin: 0.33em;
    }
</style>
<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import ImageUpload from '@/views/ImageUpload.vue';

  @Component({
               components: {
                 ImageUpload,
               },
             })
  class HomeVue extends Vue {
  }

  export default HomeVue;
</script>
