<template>
    <div class="container mt-2">
        <div class="row mb-2">
            <h2>Upload - {{getHeaderText()}}</h2>
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar"
                         role="progressbar"
                         v-bind:style="`width: ${getStatePercent()}`"
                         v-bind:class="`${getStateClass()}`"
                    >
                        {{getStateText()}}
                    </div>
                </div>
            </div>
        </div>
        <FileSelector
                v-on:update="onFileChanged"
                v-if="selectFilesActive()"/>
        <div class="row mt-1">
            <div
                    v-for="image in files"
                    :key="image.id"
                    class="col-md-4 col-6">
                <ImagePreview
                        v-if="lastCheckActive()"
                        :image="image.file"
                        v-on:delete="onDelete(image.id)"
                />
                <UploadPreview
                        v-if="uploadActive() || allDone()"
                        :image="image.file"
                        :progress="image.progress"
                        :state="image.state"
                />
            </div>
        </div>
        <div class="row" v-if="lastCheckActive()">
            <div class="col-md-12">
                <button type="button"
                        class="btn btn-primary btn-lg btn-block"
                        v-on:click="upload">
                    Upload
                </button>
            </div>
        </div>
        <div class="row" v-if="allDone()">
            <div class="col-md-12">
                <button type="button"
                        class="btn btn-info btn-lg btn-block"
                        v-on:click="reset">
                    Back
                </button>
            </div>
        </div>
    </div>
</template>
<style scoped>

</style>
<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import FileSelector from '@/components/FileSelector.vue';
  import ImagePreview from '@/components/ImagePreview.vue';
  import UploadPreview from '@/components/UploadPreview.vue';
  import axios from 'axios';
  import { v4 as uuid } from 'uuid';

  enum ViewState {
    SELECT_FILES = 1,
    LAST_CHECK = 2,
    UPLOAD = 3,
    DONE = 4,
  }

  enum UploadState {
    IN_PROGRESS = 'info',
    SUCCESS = 'success',
    ERROR = 'danger',
  }

  interface UploadFile {
    id: string;
    file: File;
    progress: number;
    state: UploadState;
    url?: string;
  }

  const sizeOf = (obj: any): number => {
    return Object.keys(obj).length;
  };

  interface Files {
    [id: string]: UploadFile;
  }

  @Component({
               components: {
                 FileSelector,
                 ImagePreview,
                 UploadPreview,
               },
             })
  export default class ImageUpload extends Vue {
    private state: ViewState = ViewState.SELECT_FILES;
    private files: Files = {};
    private errorOnUpload: boolean = false;

    private reset() {
      this.state = ViewState.SELECT_FILES;
      this.files = {};
      this.errorOnUpload = false;
    }

    private getStatePercent() {
      if (this.state === ViewState.SELECT_FILES) {
        return '33%';
      }
      if (this.state === ViewState.LAST_CHECK) {
        return '66%';
      }
      if (this.state === ViewState.UPLOAD) {
        const uploadState = Object.keys(this.files)
          .map((id) => this.files[id].progress)
          .reduce((a: number, b: number) => a + b, 0) / sizeOf(this.files) / 3;
        return `${(2 / 3 + uploadState) * 100 - 5}%`;
      }
      return '100%';
    }

    private getStateText() {
      return `Step ${this.state} / ${ViewState.DONE}`;
    }

    private getHeaderText() {
      switch (this.state) {
        case ViewState.SELECT_FILES:
          return 'Select your files';
        case ViewState.LAST_CHECK:
          return 'Check your selection';
        case ViewState.UPLOAD:
          return 'Upload in progress';
        case ViewState.DONE:
          if (this.errorOnUpload) {
            return 'Error';
          } else {
            return 'Done!';
          }
      }
    }

    private getStateClass() {
      switch (this.state) {
        case ViewState.SELECT_FILES:
        case ViewState.LAST_CHECK:
          return 'bg-info';
        case ViewState.UPLOAD:
          return 'bg-info progress-bar-striped progress-bar-animated';
        case ViewState.DONE:
          return this.errorOnUpload ? 'bg-danger' : 'bg-success';
      }
    }

    private selectFilesActive() {
      return this.state === ViewState.SELECT_FILES;
    }

    private lastCheckActive() {
      return this.state === ViewState.LAST_CHECK;
    }

    private uploadActive() {
      return this.state === ViewState.UPLOAD;
    }

    private allDone() {
      return this.state === ViewState.DONE;
    }

    private onFileChanged(files: File[]) {
      this.files = files.reduce(
        (map: Files, file) => {
          const id = uuid();
          map[id] = {
            id, file,
            progress: 0,
            state: UploadState.IN_PROGRESS,
          };
          return map;
        },
        {},
      );
      this.state = ViewState.LAST_CHECK;
    }

    private onDelete(idToDelete: string) {
      this.files = Object.keys(this.files)
        .filter((it) => it !== idToDelete)
        .reduce(
          (map: Files, id) => {
            map[id] = this.files[id];
            return map;
          },
          {},
        );
      if (sizeOf(this.files) === 0) {
        this.state = ViewState.SELECT_FILES;
      }
    }

    private upload() {
      this.state = ViewState.UPLOAD;
      Object.keys(this.files).forEach((id) => {
        const file = this.files[id];
        const form = new FormData();
        form.append('file', file.file);
        const options = {
          onUploadProgress: (event: any) => {
            file.progress = event.loaded / event.total;
            this.files = {...this.files};
          },
        };
        axios.post(`/api/v1/image/${file.file.name}`, form, options)
          .then((event: any) => {
            file.progress = 1;
            file.state = UploadState.SUCCESS;
            this.files = {...this.files};
            this.updateAllDone();
          })
          .catch((event: any) => {
            file.progress = 1;
            file.state = UploadState.ERROR;
            this.files = {...this.files};
            this.errorOnUpload = true;
            this.updateAllDone();
          });
        return file;
      });
    }

    private updateAllDone() {
      const allDone = Object.keys(this.files)
        .map((key: string) => this.files[key])
        .find((image: UploadFile) => image.state === UploadState.IN_PROGRESS) === undefined;
      if (allDone) {
        this.state = ViewState.DONE;
      }
    }
  }
</script>
